.banner{
    flex-grow: 55;
}
.page1
{
    
    flex-grow: 5;
    padding-top: 45px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:  600;
    font-style: normal;
    cursor: pointer;
    
}
.page2
{
   
    flex-grow: 5;
    padding-top: 45px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:  600;
    font-style: normal;
    cursor: pointer;
    color: #fff;

}
.page3
{
    
    flex-grow: 5;
    padding-top: 45px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:  600;
    font-style: normal;
    cursor: pointer;
    color: #fff;
}
.page1:hover{
   color:rgb(255, 255, 255);
}
.page2:hover{
   color:rgb(255, 255, 255);
}
.page3:hover{
   color:rgb(255, 255, 255);
}

.menu
{   
    position: absolute;
    width: 200px;
    height:0px;
    margin-top: 25px;
    margin-left:-80px;
   
    overflow: hidden;
    background-color: antiquewhite;
    transition: height 0.5s ease;
}
.menu.increase
{ 
    height:100px;
}
.menu li{
    padding: 14px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    border: 1px solid #000;
    font-style: normal;
    cursor: pointer;
}
.acc-btn:hover
{
 background-color: aquamarine;
 color:#fff;
}
.takenbook-btn:hover
{
    background-color: aquamarine;
    color:#fff;  
}
/*sort by*/
.submenu
{
    border:1px solid #ac590bfa;
    margin-top:-76px;
    border-radius: 5rem;
}
.available
{
    margin-top:45px;
    color: #fff;
    padding-left:3rem;
    padding-top: 0.7rem;
    font-family: "Poppins",sans-serif;
}
/*available data */
.borrow-btn
{
 padding:5px;
 border-radius: 5px;
 border:1px solid #000;
 font-family: "DM Sans", sans-serif;
 font-optical-sizing: auto;
 font-weight: 600;
 cursor:pointer;
 background-color: rgb(0, 255, 221);
 color:#fff;
 font-style: normal;
}